@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply scroll-smooth bg-[#f2f2f2] font-poppins;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
@layer components {
  .nav-item {
    @apply block cursor-pointer rounded border-0 py-2 pl-3 pr-4 text-lg text-gray-700 hover:bg-gray-100 hover:bg-transparent hover:text-blue-700 md:p-0;
  }

  .btn-slide {
    @apply absolute top-[50%] hidden -translate-x-0 translate-y-[-50%] cursor-pointer rounded-full bg-black/20 p-2 text-2xl text-white group-hover:block;
  }
}
.slick-initialized .slick-slide {
  padding: 0 10px;
}
.slick-slider .slick-prev {
  left: 0px;
  z-index: 1;
}
.slick-slider .slick-next {
  right: 0px;
  z-index: 1;
}
.slick-prev::before,
.slick-next::before {
  color: #27aa9a;
}
.slick-center {
  @apply scale-105;
}
.slick-list {
  overflow: unset;
}
